<div class="auth-content">
  <p class="welcome-text">Welcome! Due to data protection laws, you need to be authenticated in the network of your college or university to use this tool.</p>
  <br><br><br>

  <form [formGroup]="authForm" (ngSubmit)="onAuth()">
    <div class="row">
      <mat-form-field class="form-group col-md-12">
        <input matInput required placeholder="Login ID (RZ)" formControlName="id">
        <mat-error *ngIf="authForm.get('id')['errors']">
          {{ errorMessages[ObjKeys(authForm.get('id')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group col-md-12">
        <input matInput required placeholder="Login Password (RZ)" formControlName="pw" [type]="hidePw ? 'password' : 'text'">
        <mat-icon matSuffix class="noselect" (click)="hidePw = !hidePw">{{hidePw ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="authForm.get('pw')['errors']">
          {{ errorMessages[ObjKeys(authForm.get('pw')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>
    </div>

    <br><br>

    <button type="submit" class="btn btn-block btn-primary" [disabled]="!authForm.valid">
      Login
    </button>
  </form>
</div>
