<div class="search-content">
  <form (ngSubmit)="onSearchBtnClick()" [formGroup]="searchForm">

    <div class="row">
      <mat-form-field class="form-group narrow-input-group col-md-12">
        <mat-select formControlName="server" placeholder="Look at specific LDAP server">
          <mat-option [value]=""> -- ALL SERVERS --</mat-option>
          <mat-option *ngFor="let serverentry of serverGroups" [value]="serverentry">
            {{ serverentry }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-radio-group class="form-group narrow-input-group col-md-12" formControlName="gender">
        <mat-radio-button [value]="2" class="gender-radio-button">Only female</mat-radio-button>
        <mat-radio-button [value]="1" class="gender-radio-button">Only male</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="form-group narrow-input-group col-md-12">
        <input formControlName="id" matInput placeholder="Name or id (RZ-Kennung)" required>
        <mat-error *ngIf="searchForm.get('id')['errors']">
          {{ errorMessages[ObjKeys(searchForm.get('id')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group narrow-input-group col-md-12">
        <input formControlName="email" matInput placeholder="Email address">
        <mat-error *ngIf="searchForm.get('email')['errors']">
          {{ errorMessages[ObjKeys(searchForm.get('email')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group narrow-input-group col-md-12">
        <input (keyup)="onFacultyChange()" [matAutocomplete]="AutoFaculty" formControlName="faculty" matInput placeholder="Faculty"
               type="text">
        <mat-autocomplete #AutoFaculty="matAutocomplete" (optionSelected)="onFacultyChange()">
          <mat-option *ngFor="let fac of filteredfaculties" [value]="fac">
            {{ fac }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchForm.get('faculty')['errors']">
          {{ errorMessages[ObjKeys(searchForm.get('faculty')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-group narrow-input-group col-md-12">
        <input (keyup)="onSubjectChange()" [matAutocomplete]="AutoSubject" formControlName="subjectordegree" matInput
               placeholder="Study subject or degree" type="text">
        <mat-autocomplete #AutoSubject="matAutocomplete" (optionSelected)="onSubjectChange()">
          <mat-option *ngFor="let subject of filteredstudysubjects" [value]="subject">
            {{ subject }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchForm.get('subjectordegree')['errors']">
          {{ errorMessages[ObjKeys(searchForm.get('subjectordegree')['errors'])[0]] }}
        </mat-error>
      </mat-form-field>
    </div>


    <button [disabled]="!searchForm.valid" class="btn btn-block btn-primary" type="submit">
      Start LDAP Search
    </button>
  </form>

  <div *ngIf="searchService.searchHistory.length" class="search-history">
    <p class="history-label">Search history:</p>
    <div (click)="onHistoryClick(i)" *ngFor="let hist of searchService.searchHistory; let i = index"
         class="row history-block">{{ hist['id'] || hist['email'] }}</div>
  </div>
</div>
